@{
    ViewBag.Title = "BottleChart";
}

@Html.Partial("_MaintenancePartial")
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<aside style="margin-top:10px">
    <div class="panel" style="border:1px solid">
        <div style="margin-left: 20px">
            <h4>Maintenance > Bottle Chart</h4>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("Add", "Maintenance", new { param = "AddBottle" })'">Add</button>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("ExportBottle", "Maintenance")'">Export</button>
        </div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Item Key</th>
                <th>Description</th>
                <th>Small Tray</th>
                <th>Large Tray</th>
                <th>WB Tray Small</th>
                <th>WB Tray Large</th>
                <th>Changed Date</th>
                <th>Bottle Cubic Inches</th>
                <th>Action</th>
            </tr>
            @foreach (var item in ViewBag.Bottles)
            {
                <tr>
                    <td>@item.BottleId</td>
                    <td>@item.BottleItemKey</td>
                    <td>@item.BottleDescription</td>
                    <td>@item.BottlesSmallTray</td>
                    <td>@item.BottlesLargeTray</td>
                    <td>@item.WrappedBottlesTraySmall</td>
                    <td>@item.WrappedBottlesTrayLarge</td>
                    <td>@item.BottleChangedDate</td>
                    <td>@item.BottleCubicInches</td>
                    <td>@Html.ActionLink("Edit", "EditBottle", "Maintenance", new { bottleId = item.BottleId.ToString() }, null)</td>
                </tr>
            }
        </table>
    </div>
</aside>