@{
    ViewBag.Title = "EditBottle";
}
@Html.Partial("_MaintenancePartial")

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<aside style="margin-top:10px">
    <div class="panel" style="border:1px solid">
        <div style="margin-left: 20px">
            <h4>Maintenance > Edit Bottle</h4>
        </div>
        @using (Html.BeginForm("SubmitBottleUpdate", "Maintenance", new { bottleId = @ViewBag.Bottle[0].BottleId }, FormMethod.Post, null))
        {
            <input style="margin-left:18px; max-width:90px" class="btn btn-success" type="submit" id="SubmitBottleUpdate" value="Update" />
            <table>
                <tr>
                    <td>Bottle ID</td>
                    <td><div id="bottleId" name="bottleId">@ViewBag.Bottle[0].BottleId</div></td>
                </tr>
                <tr>
                    <td>Bottle Item Key</td>
                    <td><input class="form-control" type="text" id="BottleItemKey" name="BottleItemKey" value="@ViewBag.Bottle[0].BottleItemKey" /></td>
                </tr>
                <tr>
                    <td>Bottle Description</td>
                    <td><input class="form-control" type="text" id="BottleDescription" name="BottleDescription" value="@ViewBag.Bottle[0].BottleDescription" /></td>
                </tr>
                <tr>
                    <td>Bottles Small Tray</td>
                    <td><input class="form-control" type="tel" required pattern="[0-9]+" id="BottlesSmallTray" name="BottlesSmallTray" value="@ViewBag.Bottle[0].BottlesSmallTray" /></td>
                </tr>
                <tr>
                    <td>Bottles Large Tray</td>
                    <td><input class="form-control" type="tel" required pattern="[0-9]+" id="BottlesLargeTray" name="BottlesLargeTray" value="@ViewBag.Bottle[0].BottlesLargeTray" /></td>
                </tr>
                <tr>
                    <td>Wrapped Bottles Tray Small</td>
                    <td><input class="form-control" ttype="tel" required pattern="[0-9]+" id="WrappedBottlesTraySmall" name="WrappedBottlesTraySmall" value="@ViewBag.Bottle[0].WrappedBottlesTraySmall" /></td>
                </tr>
                <tr>
                    <td>Wrapped Bottles Tray Large</td>
                    <td><input class="form-control" type="tel" required pattern="[0-9]+" id="WrappedBottlesTrayLarge" name="WrappedBottlesTrayLarge" value="@ViewBag.Bottle[0].WrappedBottlesTrayLarge" /></td>
                </tr>
                <tr>
                    <td>Bottle Length</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?"  id="BottleLength" name="BottleLength" value="@ViewBag.Bottle[0].BottleLength" /></td>
                </tr>
                <tr>
                    <td>Bottle Width</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleWidth" name="BottleWidth" value="@ViewBag.Bottle[0].BottleWidth" /></td>
                </tr>
                <tr>
                    <td>Bottle Hieght</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleHieght" name="BottleHieght" value="@ViewBag.Bottle[0].BottleHieght" /></td>
                </tr>
                <tr>
                    <td>Bottle Cubic Inches</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleCubicInches" name="BottleCubicInches" value="@ViewBag.Bottle[0].BottleCubicInches" /></td>
                </tr>
                <tr>
                    <td>Bottle Length Wrapped</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleLengthWrapped" name="BottleLengthWrapped" value="@ViewBag.Bottle[0].BottleLengthWrapped" /></td>
                </tr>
                <tr>
                    <td>Bottle Width Wrapped</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleWidthWrapped" name="BottleWidthWrapped" value="@ViewBag.Bottle[0].BottleWidthWrapped" /></td>
                </tr>
                <tr>
                    <td>Bottle Depth Wrapped</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" step="0.001" id="BottleDepthWrapped" name="BottleDepthWrapped" value="@ViewBag.Bottle[0].BottleDepthWrapped" /></td>
                </tr>
                <tr>
                    <td>Bottle Cubic Inch Wrapped</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleCubicInchWrapped" name="BottleCubicInchWrapped" value="@ViewBag.Bottle[0].BottleCubicInchWrapped" /></td>
                </tr>
                <tr>
                    <td>Bottle Label Square Inches</td>
                    <td><input class="form-control" type="tel" required pattern="\d+([,][0-9]{1,3})?" id="BottleLabelSquareInches" name="BottleLabelSquareInches" value="@ViewBag.Bottle[0].BottleLabelSquareInches" /></td>
                </tr>
            </table>
        }
    </div>
</aside>
