@model List<StorageCondition>

@{
    ViewBag.Title = "StorageConditions";
}
@Html.Partial("_MaintenancePartial")
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<aside style="margin-top:10px">
    <div class="panel" style="border:1px solid">
        <div style="margin-left: 20px">
            <h4>Maintenance > Storage Condition</h4>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("Add", "Maintenance", new { param = "AddStorageCondition" })'">Add</button>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("ExportStorageConditions", "Maintenance")'">Export</button>
        </div>
        <table class="table">
            <tr>
                <th>font-size</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            @{
                int s = 13;
                int sp = s;
                string px = "px";
                string size = sp + px;
            }
            @foreach (var item in Model)
            {
                size = sp + px;
                <tr  style="font-size:@size">
                    <td width="5%">@size</td>
                    <td width="5%">@item.StorageConditionId</td>
                    <td width="30%">@item.StorageCondition1</td>
                    <td width="30%">@item.StorageConditionDescription</td>
                    <td width="10%">@Html.ActionLink("Edit", "EditStorageCondition", "Maintenance", new { scId = item.StorageConditionId.ToString() }, null)</td>
                    @*<td width="5%"><input class="btn-edit" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Home")'" /></td>*@
                </tr>
                s = s + 1;
                sp = s;
                if (s > 18) { sp = 12; }
            }
        </table>
    </div>
</aside>
