
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#b0c3f4; height:41px;">
        <div class="container">
            @*<div class="navbar-collapse collapse">*@
            <div>
                <img src="~/src/img/logo.png" height="40" />
                <div class="dropdown" style="margin-left:10px;">
                    <select class="language-box">
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                    </select>
                </div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*@Html.Partial("_IndexPartial")*@
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery") @Scripts.Render("~/bundles/bootstrap") @RenderSection("scripts", required: false)
</body>

</html> 
