@model List<Allergen>
@{
    ViewBag.Title = "Allergens";
}
@Html.Partial("_NutritionPartial")
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
</head>
<aside style="margin-top:10px">
    <div class="panel" @*style="border:1px solid"*@>
        <div style="margin-left: 20px">
            <h4>Nutrition > Allergens</h4>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("Add", "Nutrition", new { param = "AddAllergen" })'">Add</button>
            <button style="max-width:90px" class="btn btn-success" onclick="location.href='@Url.Action("ExportAllergen", "Nutrition")'">Export</button>
        </div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Allergens</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td width="10%">@item.AllergenId</td>
                    <td width="50%">@item.Allergen1</td>
                    <td width="20%">@Html.ActionLink("Edit", "EditAllergen", "Nutrition", new { allergenId = item.AllergenId.ToString() }, null)</td>
                    @*<td width="5%"><input class="btn-edit" type="button" value="Edit" onclick="location.href='@Url.Action("Edit", "Home")'" /></td>*@
                </tr>
            }
        </table>
    </div>
</aside>

